.dzx {
    margin-bottom: 50px;
}

.dropzone {
    border:none;
}

.dzx {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    /*padding: 50px;*/
}

.dzx .dz-message {
    font-weight: 400;
    font-size: 1.5em;
    /*display: table;
    margin: 0 auto;*/
}

.dzx .dz-message .note {
    font-size: 1em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem;
}
